.exam-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.exam-page-main-section {
    width: 100%;
    flex: 1;
    height: 0px;
    display: flex;
    flex-direction: row;
}

.exam-page-question-section {
    flex: 1;
    width: 0px;
    height: 100%;
    padding: 16px;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.exam-page-overview-section {
    padding: 16px;
    width: 300px;
    height: 100%;
    background-color: snow;
    box-shadow: 1px 0px 8px #2224 inset;
    display: flex;
    flex-direction: column;
}

.exam-page-badge-container {
    height: 0px;
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.exam-page-badge-grid {
    padding: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, 1fr);
}

.exam-page-question-num-title {
    font-size: x-large;
    font-weight: bold;
}

.exam-page-question-num-title-total {
    font-size: larger;
}

.exam-page-option-block {
    padding-top: 16px;
    width: 100%;
}