.student-landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.student-landing-main-content {
    width: 100%;
    height: 0px;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.student-landing-stats-div {
    height: 100%;
    flex: 2;
    width: 0px;
}

.student-landing-tests-div {
    width: 480px;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px #2224 inset;
}